extends layout

block content
  p Number of entries in database: #{lastID} 
  if topView
    p The image with most views: #{topView.id} 
  // For each object in objectarray
  each image in images
    #grid
      .grid-element
        a(href='#{image.id}') 
          img(src='#{image.id}.jpg')
    
