body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
tr:nth-child(odd) {
  background: #CCC;
}
tr:nth-child(even) {
  background: #FFF;
}
img {
  max-width: 100%;
  height: auto;
}
#logo img {
  max-width: 100%;
}
#grid {
  max-height: auto;
  max-width: 100%;
}
.grid-element {
    position: relative;
    float:  left; 
    width:  20%;
    height: auto;
    padding: 10px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
p.dbentry { 
    vertical-align: bottom;
    color: grey;
    font-size: 8pt;
}
